<div>

    <div class=container>
        <h3 style="color: red"> {{error}} </h3>
        <h1> מתגים:</h1>
        <div class="row">
            <div ng-repeat="device in devices | orderBy : 'name' " class="card card-5 ">

                <h2 class=device-name>{{device.name}}</h2>

                <label for="switch{{device.deviceID}}">
                    <input ng-disabled="{{device.state == 'error'}}" type="checkbox" ng-checked="device.state == 'on'" ng-click="SetState(device)"
                        id="switch{{device.deviceID}}" />
                    <span class="switch">
                    </span>
                    <span ng-class="device.state == 'error' ? 'disable' : ''" class="toggle">
                    </span>
                </label>
            </div>
        </div>

        <h1 ng-show="GetFiltedDevices('light').length > 0"> תאורה:</h1>

        <div class="row">
            <div ng-repeat="light in GetFiltedDevices('light') | orderBy : 'name' " class="card card-5 ">

                <h3 class=light-name>{{light.name}}</h3>


                <div class="brightness">
                    בהירות
                    <br>
                    <input type="number" min="1" max="100" ng-change="SetLight(light, 'light')" ng-model="light.bright" />
                </div>
            </div>
        </div>

        <h1 ng-show="GetFiltedDevices('white_temp').length > 0"> טמפרטורת תאורה:</h1>

        <div class="row">
            <div ng-repeat="light in GetFiltedDevices('white_temp') | orderBy : 'name' " class="card card-5 ">

                <h3 class=light-name>{{light.name}}</h3>


                <div class="brightness">
                    טמפרטורה 
                    <br>
                    <input type="number" min="1" max="100" ng-change="SetLight(light, 'white_temp')" ng-model="light.white_temp" />
                </div>
            </div>
        </div>

        <h1 ng-show="GetFiltedDevices('light_color').length > 0"> תאורה צבעונית:</h1>

        <div class="row">
            <div ng-repeat="light in GetFiltedDevices('light_color') | orderBy : 'name' " class="card card-5 ">

                <h3 class=light-name>{{light.name}}</h3>


                <div class="color-red">
                    אדום
                    <br>
                    <input type="number" min="1" max="255" ng-change="SetLight(light, 'light_color')" ng-model="light.light_color.red" />
                </div>
                <div class="color-green">
                    ירוק
                    <br>
                    <input type="number" min="1" max="255" ng-change="SetLight(light, 'light_color')" ng-model="light.light_color.green" />
                </div>
                <div  class="color-blue">
                    כחול
                    <br>
                    <input type="number" min="1" max="255" ng-change="SetLight(light, 'light_color')" ng-model="light.light_color.blue" />
                </div>
            </div>
        </div>

        <h1 ng-show="GetFiltedDevices('ac').length > 0"> מזגנים:</h1>
        <div class="row">
            <div ng-repeat="ac in GetFiltedDevices('ac') | orderBy : 'name' " class="card card-5 ">
                <h3 class=light-name>{{ac.name}}</h3>

                <div class="ac-mode">
                    מצב
                    <br>

                    <select ng-model="ac.ac.mode" ng-change="SetAC(ac)">
                        <option value=hot>חום </option>
                        <option value=cold>קור </option>
                    </select>
                </div>

                <div class="fan_strength">
                    עוצמת רוח
                    <br>

                    <select ng-model="ac.ac.fan_strength" ng-change="SetAC(ac)">
                        <option value=auto>אוטומטי</option>
                        <option value=high>חזק </option>
                        <option value=med>בינוני </option>
                        <option value=low>חלש</option>
                    </select>
                </div>
                <div class="ac-temp">
                    טמפרטורה
                    <br>
                    <input type="number" min="16" max="30" ng-model="ac.ac.temp" ng-change="SetAC(ac)" />
                </div>
            </div>



            <br>
            <br>
            <br>
            <br>      
            <a class="btn btn-default btn-lg " ng-click="GetDevices()">רענן נתונים</a>
            <a class="btn btn-default btn-lg " ng-click="RefreshData()">סרוק מכשירים ברשת</a>
            <a class="btn btn-default btn-lg " ng-click="FullScreen()">מסך מלא</a>
        </div>
    </div>