<div>
    <!-- modal -->
    <div ng-show="useScreensaver" id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <!-- dialog -->
        <div class="modal-dialog">
            <!-- content -->
            <div class="modal-content">
                <!-- thanks to https://codepen.io/akhil_001/pen/RGmqZB -->
                <htmlc>
                <bodyc>
                    <div class='box'>
                        <div class="wave" id='waveone' style="margin-top:-10%;"></div>
                        <div class="wave" id='wavetwo' style="margin-top:-10%;"></div>
                        <div class="wave" id='wavethree' style="margin-top:-10%;"></div>
                        <div class='title' id="title">Timer</div>
                        <div class='date-title' id="date-title">Date</div>
                        <div class='day-title' id="day-title">Day</div>
                        <div class='temp-icon-and-numbee-title' id="day-title">Weather</div>
                        <div class='sunrise-title' id="sunrise-title"></div>
                        <div class='sunset-title' id="sunset-title"></div>
                        <div class='description-weather' id="description-weather"></div>
                        <div class='celcius-weather' id="celcius-weather"></div>
                        <img class='icon-weather' id='icon-weather'  alt="Weather icon">
                    </div>
                    <script>
                        //var daysInWeek = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];
                        var daysInWeek = ['יום ראשון','יום שני','יום שלישי','יום רביעי','יום חמישי','יום שישי','שבת קודש'];
                        timer();
                        function timer() {
                            var d = new Date();
                            min = d.getMinutes();
                            sec = d.getSeconds();
                            hr = d.getHours();
                            if (hr < 10)
                                hr = "0" + hr;
                            if (d.getMinutes() < 10)
                                min = "0" + d.getMinutes();
                            if (d.getSeconds() < 10)
                                sec = "0" + d.getSeconds();
                            document.getElementById("title").innerHTML = "" + hr + ":" + min + ":" + sec;
                            document.getElementById("date-title").innerHTML = d.toLocaleDateString();
                            document.getElementById("day-title").innerHTML = daysInWeek[d.getDay()];

                            document.getElementById("wavethree").style.marginTop = "-" + (d.getSeconds() + 2) * 2.5 + "%";
                            document.getElementById("wavetwo").style.marginTop = "-" + (d.getMinutes() + 2) * 2.4 + "%";
                            document.getElementById("waveone").style.marginTop = "-" + (d.getHours() + 2) * 2.3 + "%";

                            var x2 = document.getElementById("wavethree").style.marginTop;
                            // console.log(x2);
                            var x3 = document.getElementById("wavethree").style.top;
                        }
                        setInterval(timer, 1000);
                    </script>
                </bodyc>
                </htmlc>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class=container>

        <!-- Loading animation -->
        <!-- Thanks for https://icons8.com/cssload/en/spinners/5 -->
        <div ng-if="loading" class="cssload-container">
            <div class="cssload-shaft1"></div>
            <div class="cssload-shaft2"></div>
            <div class="cssload-shaft3"></div>
            <div class="cssload-shaft4"></div>
            <div class="cssload-shaft5"></div>
            <div class="cssload-shaft6"></div>
            <div class="cssload-shaft7"></div>
            <div class="cssload-shaft8"></div>
            <div class="cssload-shaft9"></div>
            <div class="cssload-shaft10"></div>
        </div>
		
            <div ng-repeat="device in devices | orderBy : 'typeName' " class="card card-5 " 
                 ng-class="GetDeviceClass(device)">
                <h2 class=device-name>{{device.name}}</h2>

                <label for="switch{{device.deviceID}}">
                    <input type="checkbox" ng-checked="device.state == 'on'" ng-click="SetState(device)" id="switch{{device.deviceID}}" />
                    <span class="switch">
                    </span>
                    <span ng-class="device.state == 'error' ? 'disable' : ''" class="toggle">
                    </span>
                </label>
                <!-- brightness -->
                <div ng-if="device.isBrightness">
                    <div class="brightness-area">
                        בהירות:
                        <br>
                        <article>
                            <rzslider rz-slider-model="device.brightnessSlider.value" rz-slider-options="device.brightnessSlider.options"></rzslider>
                        </article>
                    </div>
                </div>

                <!-- white temp -->
                <div ng-if="device.isWhiteTemp">
                    <div class="white-color-area">
                        טמפרטורת תאורה:
                        <br>
                        <article>
                            <rzslider rz-slider-model="device.whiteTempSlider.value" rz-slider-options="device.whiteTempSlider.options"></rzslider>
                        </article>
                    </div>
                </div>


            <!-- color -->
            <div ng-if="device.isColor">
            <div class="color-area">
                <rzslider class="color-red-area" rz-slider-model="device.redSlider.value" rz-slider-options="device.redSlider.options"></rzslider>
                <rzslider class="color-green-area" rz-slider-model="device.greenSlider.value" rz-slider-options="device.greenSlider.options"></rzslider>
                <rzslider class="color-blue-area" rz-slider-model="device.blueSlider.value" rz-slider-options="device.blueSlider.options"></rzslider>
            </div>
			</div>
            <!-- ac -->
            <div ng-if="device.isAC">
                <div class="ac-mode-area">
                    מצב:
                    <br>
                    <select ng-model="device.ac.mode" ng-change="SetAC(device)">
                        <option value=hot>חום </option>
                        <option value=cold>קור </option>                      
                    </select>
                </div>

                <div class="fan_strength-area">
                    עצמת רוח:
                    <br>
                    <select ng-model="device.ac.fan_strength" ng-change="SetAC(device)">
                        <option value=auto>אוטומטי</option>
                        <option value=high>חזק </option>
                        <option value=med>בינוני </option>
                        <option value=low>חלש</option>
                    </select>
                </div>

                <div class="ac-temp-area">
                    טמפרטורה:
                    <br>
                    <article>
                        <rzslider rz-slider-model="device.acTempSlider.value" rz-slider-options="device.acTempSlider.options"></rzslider>
                    </article>
                </div>
            </div>

            <!-- sending device values animation -->
            <!-- Thanks for https://icons8.com/cssload/en/horizontal-bars -->
            <div ng-if="device.sending" class="sending-animation-area">
                <div id="spinningSquaresG">
                    <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                </div>
            </div>

            <div class="submit_value">
                <a class="btn btn-default btn-sm" ng-click="ShowDetails(device)">פרטים טכניים</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>      
        <a class="btn btn-default btn-lg " ng-click="GetDevices()">רענן נתונים</a>
        <a class="btn btn-default btn-lg " ng-click="RefreshData()">סרוק מכשירים ברשת</a>
        <a class="btn btn-default btn-lg " ng-click="FullScreen()">מסך מלא</a>
		<a ng-if="useScreensaver" class="btn btn-default btn-lg " ng-click="ShowScreensaver()">שומר מסך</a>
    <br>
	<br>
		<b>הפעל שומר מסך:</b>
		<!-- thanks for https://codepen.io/aanjulena/pen/ZLZjzV?editors=1000 -->
		<button id="screensaver-tuggel" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="{{useScreensaver}}" autocomplete="{{useScreensaver ? 'off' : 'on'}}"
				ng-click="useScreensaver = (useScreensaver == true ? false : true)">
			<div class="handle"></div>
		</button>
		<br>
		<br>
	</div>
</div>
