
@font-face {
    font-family: hebrewFont;
    src: url('../static/screensaver/VarelaRound-Regular.woff');
}
 


.screensaver{
 

  background-repeat: no-repeat;
  background-size: cover;
}

.screensaver-element {
    position:fixed;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 1;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: hebrewFont;

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.title {
    top:18%;

    letter-spacing: .4em;
    font-size: 42px;
  
  }
  
  .date-title {
    top:27%;

    letter-spacing: .4em;
    font-size: 22px;
   

    
  }

  .day-title {
    top:33%;

    font-size: 22px;
    
  }

  .hebrew-title {
    top:37%;

    font-size: 15px;
   
  }

  .sunrise-title {
    top:45%;

    font-size: 15px;
    
  }

  .sunset-title {
    top:49%;
    font-size: 15px;
  }

  .parashat-title {
    top:57%;
    font-size: 15px;
  }

  .candles-title {
    top:61%;
    font-size: 15px;
  }

  .havdalah-title {
    top:65%;
    font-size: 15px;
  }

  .description-weather {
    top:84%;

    font-size: 15px;
  
  }

  .celcius-weather {
    top:79%;

    
    font-size: 15px;
   
  }
  .icon-weather {
    top: 74%;
    
    width :70px;
    height :70px;
  }


 /* model - screensaver */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
